{% extends "quiz/base.html" %}
{% block content %}


<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-9">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center">Category: Selected {{foo}}</h2>
                    <p class="text-center">Description about the selected category goes here.</p>
                    <div class="text-center">
                        <a href="{% url 'quiz' foo 'Easy' %}" class="btn btn-primary btn-level" id="easy" style="background-color: #007bff; border-color: #007bff;" onmouseover="this.style.backgroundColor='#0056b3'; this.style.borderColor='#0056b3';" onmouseout="this.style.backgroundColor='#007bff'; this.style.borderColor='#007bff';">Easy</a>
                        <a href="{% url 'quiz' foo 'Medium' %}" class="btn btn-primary btn-level" id="medium" style="background-color: #007bff; border-color: #007bff;" onmouseover="this.style.backgroundColor='#0056b3'; this.style.borderColor='#0056b3';" onmouseout="this.style.backgroundColor='#007bff'; this.style.borderColor='#007bff';">Medium</a>
                        <a href="{% url 'quiz' foo 'Hard' %}" class="btn btn-primary btn-level" id="hard" style="background-color: #007bff; border-color: #007bff;" onmouseover="this.style.backgroundColor='#0056b3'; this.style.borderColor='#0056b3';" onmouseout="this.style.backgroundColor='#007bff'; this.style.borderColor='#007bff';">Hard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock content %}